*.orig
*.swp
*.o
*.lo
*.bin
*.a
*.so
*.dat
*~
*.bak
*.P
*.odp
*.project
*.cproject
*.log
*.nfs*
*.pb.h
*.pb.cc
*.hosts
*.id
*.pids
*.tmp
*.out
tool/pb2/*
tool/python/pb2/*
src/test/data/*
tmp
log*
build/
tmp/
.sync
*lmdb
*.binaryproto
singa
singatool
singatest
.libs
*.la
*.deps
*.dirstamp
libtool
stamp-h1
*.cache
*.status
config.h
Makefile
config/*
config.h.in
configure
aclocal.m4
Makefile.in
thirdparty/*
!thirdparty/install.sh
!include/singa
doc/
