.DS_Store

*.pyc
__pycache__
*.swp
*~
.\#*
\#*\#



*.o
*.bin
*.a
*.so
*.bak
*.log
*.pb.h
*.pb.cc
*.cxx

build/
thirdparty/*
!thirdparty/install.sh
test/samples/
.idea/
.vscode/

# Sphinx and Doxygen Doc-Site
doc/_build/*
doc/en/docs/model_zoo/
cmake-build-debug/*
