.DS_Store

*.pyc
__pycache__
*.swp
*~
.\#*
\#*\#



*.o
*.bin
*.a
*.so
*.bak
*.log
*.pb.h
*.pb.cc
*.cxx

build/
src/api/config.i
src/api/singa_wrap.cpp
dist/
include/singa/singa_config.h
thirdparty/*
!thirdparty/install.sh
test/samples/
.idea/
.vscode/

# Sphinx and Doxygen Doc-Site
doc/_build/*
doc/en/docs/model_zoo/
cmake-build-debug/*

# Python package
python/singa.egg-info/