Package: Singa
Version: 1.0.0
Architecture: amd64
Maintainer: Moaz Reyad <moazreyad@gmail.com>
Depends: libgoogle-glog-dev, libprotobuf-dev, libstdc++6 , libc6
Installed-Size: 24820
Section: devel
Priority: optional
Source: https://github.com/apache/incubator-singa
Homepage: http://singa.apache.org
Description: Singa is an Apache Incubating project for developing an open source deep learning library.
 The Singa project was initiated by the DB System Group at National University of Singapore in 2014. It focused on distributed deep learning by partitioning the model and data onto nodes in a cluster and parallelize the training. The prototype was accepted by Apache Incubator in March 2015. Four versions have been released as shown In the following table. Since V1.0, SINGA is general to support traditional machine learning models such as logistic regression. Singa's software stack includes three major components, namely, core, IO and model. The core component provides memory management and tensor operations; IO has classes for reading (and writing) data from (to) disk and network; The model component provides data structures and algorithms for machine learning models, e.g., layers for neural network models, optimizers/initializer/metric/loss for general machine learning models.
